# Theme: Low-cost Ticket Mining

Skyscanner <br>
https://www.skyscanner.com.hk/

# The Series Data Structure

In [ ]:
import pandas as pd

In [ ]:
cabins = ['First Class', 'Business', 'Economy']
pd.Series(cabins)

In [ ]:
numbers = [1, 2, 3]
pd.Series(numbers)

In [ ]:
cabins = [None, 'Business', 'Economy']
pd.Series(cabins)

In [ ]:
numbers = [None, 2, 3]
pd.Series(numbers)

In [ ]:
import numpy as np
np.nan == None

In [ ]:
np.nan == np.nan

In [ ]:
np.isnan(np.nan)

In [ ]:
hub_cities = {'CX': 'Hong Kong',
          'CI': 'Taipei',
          'NH': 'Tokyo',
          'SQ': 'Singapore'}
s = pd.Series(hub_cities)
s

In [ ]:
s.index

In [ ]:
s = pd.Series(['Taipei', 'Hong Kong', 'Tokyo'], index=['CI', 'CX', 'NH'])
s

In [ ]:
hub_cities = {'CX': 'Hong Kong',
          'CI': 'Taipei',
          'NH': 'Tokyo',
          'SQ': 'Singapore'}
s = pd.Series(hub_cities, index=['CX', 'CI', 'NH'])
s

# Exercise 1

Create a Series object: Airline names, with IATA code as index <br>
KA = Cathay Dragon ; BR = Eva Air ; JL = Japan Airlies ; KE = Korean Air

In [ ]:
# ...

# Querying a Series

In [ ]:
hub_cities = {'CX': 'Hong Kong',
          'CI': 'Taipei',
          'NH': 'Tokyo',
          'SQ': 'Singapore'}
s = pd.Series(hub_cities)
s

In [ ]:
s.iloc[3]

In [ ]:
s.loc['NH']

In [ ]:
s[3]

In [ ]:
s['NH']

In [ ]:
hub_cities = {99: 'Hong Kong',
          100: 'Taipei',
          101: 'Tokyo',
          102: 'Singapore'}
s = pd.Series(hub_cities)

In [ ]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

In [ ]:
s[102]

In [ ]:
s = pd.Series([145.00, 88.00, 221.00, 125.00])
s

In [ ]:
total = 0
for item in s:
    total+=item
print(total)

In [ ]:
import numpy as np

total = np.sum(s)
print(total)

In [ ]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

In [ ]:
len(s)

In [ ]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

In [ ]:
%%timeit -n 100
summary = np.sum(s)

In [ ]:
s+=2 #adds two to each item in s using broadcasting
s.head()

In [ ]:
for label, value in s.iteritems():
    s.loc[label] = value+2
s.head()

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

In [ ]:
s = pd.Series([1, 2, 3])
s.loc['Destination'] = 'Osaka'
s

In [ ]:
hub_cities = pd.Series({'CX': 'Hong Kong',
          'CI': 'Taipei',
          'NH': 'Tokyo',
          'SQ': 'Singapore'})
LC_hub_cities = pd.Series(['Hong Kong',
                           'Osaka',
                           'Tokyo',
                           'Okinawa'], 
                      index=['UO',
                             'MM',
                             'MM',
                             'MM'])
all_hub_cities = hub_cities.append(LC_hub_cities)

In [ ]:
hub_cities

In [ ]:
LC_hub_cities

In [ ]:
all_hub_cities

In [ ]:
all_hub_cities.loc['MM']

# Exercise 2

In all_hub_cities, find the city with the largest IATA code.

In [ ]:
# ...

# Insight: The best time for purchasing flight ticket

Reference: <br>
https://www.cheapair.com/blog/2018-airfare-study-the-best-time-to-buy-flights-based-on-917-million-airfares/ <br>
https://www.skyscanner.com.hk/news/bttb-2018-hk <br>
https://www.skyscanner.com.hk/news/best-time-to-book-hk

# The DataFrame Data Structure

In [ ]:
import pandas as pd
ticket_1 = pd.Series({'Name': 'Ben',
                        'Destination': 'Maldives',
                        'Price': 14610.0})
ticket_2 = pd.Series({'Name': 'Julian',
                        'Destination': 'San Francisco',
                        'Price': 3480.0})
ticket_3 = pd.Series({'Name': 'Tony',
                        'Destination': 'Shanghai',
                        'Price': 880.00})
df = pd.DataFrame([ticket_1, ticket_2, ticket_3], index=['CX', 'CX', 'KA'])
df.head()

In [ ]:
df.loc['KA']

In [ ]:
type(df.loc['KA'])

In [ ]:
df.loc['CX']

In [ ]:
df.loc['CX', 'Price']

In [ ]:
df.T

In [ ]:
df.T.loc['Price']

In [ ]:
df['Price']

In [ ]:
df.loc['CX']['Price']

In [ ]:
df.loc[:,['Name', 'Price']]

In [ ]:
df.drop('CX')

In [ ]:
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('CX')
copy_df

In [ ]:
copy_df.drop?

In [ ]:
del copy_df['Name']
copy_df

In [ ]:
df['Flight Date'] = None
df

# Dataframe Indexing and Loading

In [ ]:
prices = df['Price']
prices

In [ ]:
prices += 160
prices

In [ ]:
df

# Exercise 3

What is the price ratio between Ben's ticket and Tony's ticket ?

In [ ]:
# ...

# CX Fanfares

https://www.cathaypacific.com/cx/zh_HK/latest-offers/flights/fanfares/index.html <br>
<br>
Data from: <br>
http://roasterpig.blogspot.com/2012/10/cathay-fanfares.html

In [ ]:
df = pd.read_csv('fanfares.csv')
df.head()

In [ ]:
df = pd.read_csv('fanfares.csv', index_col = 0)
df.head()

In [ ]:
df.columns

In [ ]:
df.rename(columns={'Date_start':'UseDuration_Start'
                  , 'Date_end':'UseDuration_End'
                  }, inplace=True)
df.head()

# Querying a DataFrame

In [ ]:
df['Cabin'] == 'Business'

In [ ]:
only_business = df.where(df['Cabin'] == 'Business')
only_business.head()

In [ ]:
only_business['Cabin'].count()

In [ ]:
df['Cabin'].count()

In [ ]:
only_business = only_business.dropna()
only_business.head()

In [ ]:
only_business = df[df['Cabin'] == 'Business']
only_business.head()

In [ ]:
len(df[(df['Cabin'] == 'Business') | (df['Price_tax'] > 4000)])

# Exercise 4

Obtain a fanfare record dataset with Business Cabin and price after tax over $10000.

# Indexing Dataframes

In [ ]:
df.head()

In [ ]:
df['Destination'] = df.index
df = df.set_index('Dest_Country')
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
df['Dest_Country'].unique()

In [ ]:
df=df[df['Cabin']=='Economy']
df.head()

In [ ]:
columns_to_keep = ['Dest_Country',
                   'Destination',
                   'Price_tax',
                   'UseDuration_Start',
                   'UseDuration_End']
df = df[columns_to_keep]
df.head()

In [ ]:
df = df.set_index(['Dest_Country', 'Destination'])
df.head()

In [ ]:
df.loc[['Taiwan', 'Taipei']]

# Exercise 5

Obtain a dataset with (Japan, Fukuoka) and (Japan, Nagoya).

In [ ]:
# ...

# Missing values

In [ ]:
df = pd.read_csv('fanfares.csv')
df_tpe = df[df['Destination']=='Taipei']
df_tpe['Date_start'] = pd.to_datetime(df_tpe['Date_start'], format="%d/%m/%Y")
df_tpe['Date_end'] = pd.to_datetime(df_tpe['Date_end'], format="%d/%m/%Y")
df_tpe

In [ ]:
df_tpe.fillna?

In [ ]:
df_tpe = df_tpe.set_index('Date_start')
df_tpe = df_tpe.sort_index()
df_tpe

In [ ]:
import datetime as dt
pd.to_datetime(df_tpe.index)

In [ ]:
type(df_tpe.index[0])

In [ ]:
df_tpe = df_tpe.reset_index()
df_tpe = df_tpe.set_index(['Cabin', 'Date_start'])
df_tpe

In [ ]:
df_tpe = df_tpe.fillna(method='ffill')
df_tpe